html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-bottom: 40px;
  background-color: #fff;
  font-family: Avenir, "Century Gothic", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #3d4952;
}

.font-italic {
  font-weight: 600;
  font-style: italic;
}
